.HeroSection{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.HeroSection_box{
    margin-top: 5rem;
    background-color: rgb(82, 81, 84);
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
}

.HeroSection_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    font-size: 1.2rem;
    color: #ff45e3;
}

.HeroSection_box_heading_img{
    cursor: pointer;
}

.HeroSection_box_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(135, 8, 253);
    border-radius: .5rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.HeroSection_box_input input{
    border: 0;
    outline: 0;
    background-color: transparent;
    color: rgb(255, 0, 221);
    font-size: 1.2rem;
}

.HeroSection_box_input button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    line-height: 0;
    background-image: radial-gradient( #ff45e3 0%, #8f23fb 91.52%);
    padding: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: .5rem;
    border-color: rgb(135, 8, 253);
    color: rgb(255, 255, 255);
}

.HeroSection_box_btn{
    background-image: linear-gradient(to left, #ff45e3 0%, #8f23fb 101.52%);
    border: 0;
    outline: 0;
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);    
}

@media only screen and (max-width: 35em) {
    .HeroSection{
        width: 95%;
    }
    .HeroSection_box{
        width: 95%;
    }

    .HeroSection_box_input input{
        width: 20%;
    }
}
