.NavBar{
    width: 90%;
    margin:  2rem auto;
}

.NavBar_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.NavBar_box_left{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.NavBar_box_left_menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.NavBar_box_left_menu_item{
    font-size: 1.2rem;
    color: rgba(255, 0, 221);
}

.NavBar_box_middle{
    background-color: rgba(250, 167, 227, 0.318);
    width: 80%;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    margin: 0 auto;
}
.NavBar_box_middle_search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.NavBar_box_middle input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    color: rgb(255, 0, 221);
}

.NavBar_box_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.NavBar_box_right_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(135, 8, 253);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: capitalize;
}

.NavBar_box_right_box p{
    font-size: 1.2rem;
    line-height: 0;
    color:  rgb(253, 154, 240);
}

.NavBar_box_right button{
    background-color: rgb(135, 8, 253);
    border: none;
    outline: none;
    color:  rgb(253, 154, 240);
    border-radius: .5rem;
    padding: 1.0rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 35em) {
    .NavBar{
        width: 90%;
    }
    .NavBar_box{
        grid-template-columns: .5fr 1fr;
    }

    .NavBar_box_middle{
        display: none;
    }
    .NavBar_box_left_menu{
        display: none;
    }

    .NavBar_box_right_box{
        display: none;
    }
}