.Token{
    position: absolute;
    margin: 0 auto;
    background-color: rgb(99, 81, 135);
    padding: 2rem;
    border-radius: .5rem;
    width: 30rem;
    height: 25rem;
}

.Token_box_heading{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff45e3;
}
.Token_box_para2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}
.Token_box_input1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.Token_box_input1 button{
    background-image: radial-gradient( #ff45e3 0%, #8f23fb 91.52%);
    border: 0;
    outline: 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 900;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.Token_box_input1 input{
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 80%;
    border: 1px solid rgb(243, 88, 246);
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: end;
    color: rgb(255, 0, 221);    
}

.Token_box h2{
    font-size: 1.2rem;
    line-height: 0;
}

.Token_box_para{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Token_box_input{
    display: flex;
    gap: 1rem;
    align-items: center;

}

.Token_box_input button{
    background-image: radial-gradient( #ff45e3 0%, #8f23fb 91.52%);
    border: 0;
    outline: 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 900;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.Token_box_input input{
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 80%;
    border: 1px solid rgb(243, 88, 246);
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: end;
    color: rgb(255, 0, 221);    
}

.Token_box_toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.Token_box_para1 {
    padding-top:2rem;
}


@media only screen and (max-width:35em) {
    .Token{
        width: 90%;
    }
    
}
