
.SearchToken{
    position: absolute;
    margin: 0 auto;
    background-color: rgb(82, 81, 84);
    padding: 2rem;
    border-radius: .5rem;
    width: 30rem;
    height: 25rem;
}

.SearchToken_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SearchToken_box_search{
    display: flex;
    align-items: center;
    background-color: rgb(249, 198, 255);
    padding: .5rem 1rem;
    border-radius: .5rem;
    gap: 1rem;
}

.SearchToken_box_search input{
    background-color: transparent;
    outline: 0;
    border: 0;
    color: rgb(247, 7, 215);
    font-weight: 500;
    width: 90%;
}

.SearchToken_box_tokens{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:  .5rem;
}

.SearchToken_box_tokens span{
    display: flex;
    align-items: center;
    gap: .2rem;
    border: 1px solid rgb(243, 88, 246);
    width: 5.7rem;
    padding: .3rem;
    border-radius: 1rem;
    cursor: pointer;
}

.active{
    background-color: rgb(135, 8, 253);
    color: rgb(253, 154, 240);
}

@media only screen and (max-width: 35em) {
    .SearchToken{
        width: 95%;
    }

    .SearchToken_box_tokens{
        display: flex;
        flex-wrap: wrap;
    }
}
