.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 12px;
  image-rendering: optimizeQuality;
}

.h1 {
  margin-bottom: 0px;
  color: #ff00ee;
}

.nftBoxGrid {
  width: 300px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: -100px;
  flex-wrap: wrap;
}
.optionSelectBox2 {
  width: 48%;
  min-height: 200px;
  height: 00%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 12px;
  
  margin-top: 20px;
}
.selectBoxDescript {
  margin-top: -10rem;
  margin-left: -10px;
  
}

.optionSelectimg {
  margin-top: 20px;
  margin-left: -80px;
  cursor: pointer;
}

.selectBoxDescription {
  margin-top: -6rem;
  margin-left: 5rem;
  
}

.optionSelect {
  max-width: 100%;
  margin-right: -10px;
  margin-top: -250px;
  color: #ff00ee;
  
}


/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 2400px) {
  .nftBox {
    width: 79%;
    margin-top: 16px;
  }
  .nftBoxGrid {
    justify-content: center;
  }
}

/* beneath 800
*/
@media only screen and (min-width: 100px) and (max-width: 900px) {
  .nftBoxGrid {
    justify-content: center;
    margin-top: -4rem;
    margin-left: -2rem;
    width: 100%;
  }
  .nftBox {
    width: 90%;
    margin-top: 20px;
    margin-left: 0rem;
  }

  /*Schrift*/
  .optionSelect {
    width: 90%;
    margin-top: 1px;
    margin-right: 50px;
  }

  /*Dapp.png*/
  .selectBoxDescript {
    width: 50%;
    margin-top: -6rem;
    margin-right: 15rem;
  }


  .optionSelectimg {
    width: 50%;
    margin-top: 10rem;
    margin-left: -18rem;
  }
  .container {
    margin-left: 2rem;
  }
  .h1 {
    margin-right: 2rem;
    margin-top: 2rem;
  }

  /*TOKENbanner*/
  .selectBoxDescription {
    margin-left: -2.7rem;
    margin-top: -1rem;
  }
  
}
